* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
}

body {
	padding: 0;
	margin: 0 auto;
	background-color: white;
}

body a {
	text-decoration: none;
}

body li {
	list-style: none;
}

.page-header {
	border-bottom: 1px solid #D0D4D8;
	text-align: center;
}

.slider__item {
	width: 100%;
	padding: 2% 2% 0 2%; 
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;

}
.slider .owl-dots {
	position: absolute;
	bottom: 10%;
	z-index: 15;
	width: 70px;
	display: flex;
	justify-content: space-around;
    right: 50%;
    transform: translate(50%, 0);
}

.slider .owl-dot.active span {
	background-color: #FFFFFF;
}

.slider .owl-dot span {
	width: 12px;
	height: 12px;
	display: block;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	margin: 0 auto;
}

/*.slider {
	position: relative;
	display: inline-block;
}

.slider__items {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider__item {
	position: relative;
	display: none;
	width: 100%;
	padding: 2% 2% 0 2%;
	transition: transform 0.6s ease;
	backface-visibility: hidden;
}

.slider__item_active,
.slider__item_next,
.slider__item_prev {
	display: block;
}

.slider__item_next,
.slider__item_prev {
	position: absolute;
	top: 0;
}

.slider__item_next.slider__item_left,
.slider__item_prev.slider__item_right {
    transform: translateX(0);
}

.slider__item_next,
.slider__item_right.slider__item_active {
  transform: translateX(100%);
}

.slider__item_prev,
.slider__item_left.slider__item_active {
  transform: translateX(-100%);
}


.slider__indicators {
  position: absolute;
  bottom: 10%;
  z-index: 15;
  display: flex;
  justify-content: center;
  list-style: none;
}

.slider__indicator {
  position: relative;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.slider__indicator::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.slider__indicator::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.slider__indicator_active {
  background-color: #ffffff;
}*/

/*.cuba {
	background-image: url('./image/bgcuba.jpg');
}

.burgundy {
	background-image: url('./image/bg-burgundy.jpg');
}

.antarctica {
	background-image: url('./image/bg-antarctica.jpg');
}*/

.block-border {
	position: relative;
	height: 630px;
	border: 2px solid #ECB84C;
	border-bottom: 0;
}

.block-border p {
	display: inline-block;
	font-family: Times;
	font-size: 200px;
	font-weight: bold;
	text-align: center;
    margin: 15% auto;


	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


.block-border-bottom {
	display: flex;
	position: relative;
	bottom: 14px;
	align-items: center;
}

.block-border-bottom div:nth-child(1),
.block-border-bottom div:nth-child(3) {
    border-bottom: 2px solid #ECB84C;
    width: 100%;
}

.block-border-bottom div:nth-child(2) {
	color: #ffffff;
	white-space: nowrap;
	font-family: Georgia;
	font-size: 24px;
	line-height: normal;
	padding: 0 5px;
	text-align: center;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.navigation-wrapper {
	height: 63px;
	display: flex;
	border-bottom: 1px solid #D0D4D8;
	margin: 0;
	padding: 0;
	align-items: center;
	text-align: center;
}

.main-navigation {
	height: inherit;
	display: flex;
	align-items: center;
	width: 55%;
	margin: 0 auto;
	padding: 0;
	color: #909090;
	white-space: nowrap;
}

.main-navigation a {
	display: block;
	padding: 18px 20px;
	position: relative;
	text-align: center;
	font-size: 14px;
	line-height: 19px;

	color: #909090;
}

.main-navigation a:hover,
.main-navigation a:focus {
	outline: none;
	box-shadow: 0px 8px 0px -4px rgba(236,184,76,1);
	color: #4E5665;

}

.page-main h1 {
	font-family: 'Georgia', 'Times New Roman', Times, serif;
	color: #4E5665;
	font-size: 32px;
	line-height: 38px;
}

.page-main p, a, li {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #505050;
}

.why-love,
.about,
.autos,
.photos {
	text-align: left;
	padding: 80px 235px;
	max-width: 1440px;
}

.why-love {
	background-image: url("./image/Divider.png");
	background-position: 50% 95%;
	background-repeat: no-repeat;
}

.why-love a {
	font-weight: normal;
	color: #ECB84C;
}

.why-love a:hover {
	text-decoration: underline;
	font-weight: bold;
}

h1 {
	font-weight: normal;
	color: #4E5665;
	margin-bottom: 45px;
	text-align: center;
}

.pictures {
	display: flex;
}

.pictures p {
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #909090;
}

.icon {
	width: 80px;
	height: 80px;
	margin: 25px auto;
	transition: .3s;
}

.icon:hover {
	transform: scale(1.15);
}

.block {
	width: 25%;
	padding: 60px 0;
}

.block span {
	font-size: 22px;
	line-height: 30px;
	color: #4E5665;
}

.block:nth-child(1) .icon {
	background-image: url("./image/svg/route.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.block:nth-child(2) .icon {
	background-image: url("./image/svg/restaurant.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.block:nth-child(3) .icon {
	background-image: url("./image/svg/transport.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.block:nth-child(4) .icon {
	background-image: url("./image/svg/interface.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.about-2 {
	display: flex;
	position: relative;
	margin-top: 130px;
}

.about-2 h1 {
	font-size: 24px;
	line-height: 25px;
	color: #4E5665;
	margin-bottom: 15px;
	text-align: left;
}

.about-2 img {
	width: 555px;
	height: 400px;
	position: relative;
	top: 50px;
	left: 0;
	z-index: 1;
}

.about-2 .beaches {
	width: 48%;
	height: 315px;

	text-align: left;
	background-color: #FFFFFF;
	position: absolute;
	right: 0;
	top: 100px;
	padding: 40px;
	box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	overflow: auto;

	z-index: 2;
}

.corner {
	height: 100%;
	box-sizing: border-box;
}

.corner:before {
	display: block;
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-bottom: 2px solid #ECB84C;
    border-left: 2px solid #ECB84C;
}

.corner:after {
    display: block;
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-top: 2px solid #ECB84C;
    border-right: 2px solid #ECB84C;
}

.autos {
	background-image: url("./image/Divider.png");
	background-position: 50% 100%;
	background-repeat: no-repeat;
}

.photo-auto {
	position: relative;
	left: -75px;
	margin: 130px 0;
}

.photo-auto img {
	max-width: 1170px;
	max-height: 330px;
	width: 145%;
	height: 100%;
}


.photo-auto::after {
	display: block;
	content: "";
	position: absolute;
	width: 120%;	
    border-bottom: 7px solid #212020;
    opacity: 0.5;
    filter: blur(5px);
    mix-blend-mode: normal;
}

.wheel-1 {
	content: "";
	width: 15%;
	border-bottom: 8px solid #000000;
	filter: blur(13px);
	opacity: 0.3;


    position: relative;
    left: 5%;
    top: -130px;
}

.wheel-2 {
	content: "";
	width: 15%;
	border-bottom: 8px solid #000000;
	filter: blur(13px);
	opacity: 0.3;


    position: relative;
    left: 75%;
    top: -130px;
}

.photos-text {
	background-image: url("./image/divider1.png");
	background-position: 50% 95%;
	background-repeat: no-repeat;
	padding-bottom: 50px;
}

.photos-slider {
	 display: flex;
	 height: 100%;
	 position: relative;
}

.photos-slider img {
	height: 480px;
	width: 640px;
}

a.prev,a.next {
	height:91px;
	position:absolute;
	width:43px;
	top:50%;
	margin-top:-30px;
	opacity:0.6;
	text-indent:-99999px;
	cursor:pointer;
	-webkit-transition:opacity 200ms ease-out;
}

.sl-1 img {
z-index: 1;
}

.sl-2 img {
	z-index: 3;
}

.sl-3 img {
	z-index: 5;
}

.sl-4 img {
	z-index: 3;
}

.sl-5 img {
	z-index: 1;
}

.page-footer {
	background-color: #F2F2F2;
	border-top: 1px solid #D8D8D8;
}

.footer-container {
	display: flex;
	padding: 50px 50px;
}

.footer-container a {
	font-size: 14px;
	line-height: 19px;

	color: #505050;
}

.footer-container h1 {
	font-family: Avenir Next;
	font-size: 34px;
	line-height: normal;
	padding-right: 15px;

	color: #37C491;
}

.footer-container h2 {
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	padding-bottom: 15px;

	color: #4E5665;
}

.footer-copyright p {
	font-size: 14px;
	line-height: 19px;
	color: #505050;
	text-align: center;
	padding: 30px 30px;
}